/about.html
/contact.css
/Contact.html
/day2.html
/day3.html
/day4.css
/day4.html
/day6.css
/day6.html
/day7.css
/day7.html
/day8.css
/day8.html
/day9.css
/day9.html
/IMG20260824155725.jpg
/profile.html
/ResumePage
/week2.css
/week2.html