body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
/* Header */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navbar ul li{
    margin: 0 20px;
}
.navbar ul li a{
    color: white;
    font-size: 18px;
}
/* Hero Section */
#hero{
    background-image: url('hero-section.jpeg');
    background-size: cover;
    background-position: center;
    height:400;
    display: flex;
    justify-content: flex-start;
}
.hero-content{
    max-width: 550px;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:linear-gradient(
        to right,
        rgba(0,0,0,0.85)0%,
        rgba(0,0,0,0.6)40%,
        rgba(0,0,0,0)100%
    );
    padding: 5%;
}
.hero-content p{
    font-style: italic;
}
.cta-button{
    background-color: #ff5733;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}
/* Features Section */

#features{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #f4f4f4;
}
.features-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-align: center;
    box-sizing: border-box;
}
.features-card img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
/* Testimonials Section */
#testimonials{
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}
.testimonial{
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
/* Footer Section */
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
/*Responsive Section  */
@media(max-width: 768px){
    #features{
        flex-direction: column;
        align-items: center;
    }

    .features-card{
        width: 80%;
        margin-bottom: 20px;
    }
}
